.user-bio {
  border: 3px solid black;
}

.post-card {
  border: 3px solid black;
}

.comments-container {
  margin-top: 0.3em;
  border: 3px solid black;
  padding: 2em;
}

.post-button {
  align-self: center;
}

button {
  padding: 1em;
  border: 3px solid black;
}
